[*.{cs,vb}]

# IDE0040: Ajouter des modificateurs d'accessibilité
dotnet_style_require_accessibility_modifiers = never

# IDE0022: Utiliser un corps de bloc pour les méthodes
csharp_style_expression_bodied_methods = false

# IDE0022: Utiliser un corps de bloc pour les méthodes
dotnet_diagnostic.IDE0022.severity = none


# IDE0021: Utiliser un corps de bloc pour les constructeurs
dotnet_diagnostic.IDE0021.severity = none

# IDE0055: Corriger la mise en forme
dotnet_diagnostic.IDE0055.severity = none
